name: Build and test on push
on: [push]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Switch to Node.js v14.15.0
        uses: actions/setup-node@v1
        with:
          node-version: 14.15.0
      - name: Check out protocol repository
        uses: actions/checkout@v2
        with:
          repository: halodao/protocol
          path: ./protocol
      - name: Install Prereqs
        run: |
          sudo apt-get update
          sudo apt-get install -y libudev-dev libusb-1.0-0-dev yarn
      - name: Setup protocol, start chain and migrate
        run: |
          cd ./protocol
          yarn
          yarn qbuild
          npx ganache-cli -p 9545 -e 1000000 -l 10000000 &
          yarn truffle migrate --network test
      - name: Check out minter repository
        uses: actions/checkout@v2
        with:
          path: ./minter
      - name: Install deps and compile
        run: |
          cd ./minter
          npm i
          npm run compile
      - name: Run local tests
        env:
          CHAIN_NETWORK: ${{ secrets.CHAIN_NETWORK }}
        run: |
          cd ./minter
          npm run test:local
